/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}
.light {
    --primary-color: #2196f3;
    --background-color: #fff;
  }
  
  .dark{
    --primary-color: #90caf9;
    --background-color: #424242;
  }